
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_NoNavLayout.cshtml";
}
@model ComCloudShop.ViewModel.ProductExtendResultModel
@using System.Web.Configuration;
<link href="~/public/js/zy.media.min.css" rel="stylesheet" />
<script src="~/public/js/zy.media.min.js"></script>
<div class="wrapper">
    <!-- Slider main container -->
    <div id="moban"></div>
    <div>
        <div class="playvideo">
            <div class="zy_media">
                <video poster="@(WebConfigurationManager.AppSettings["imgurl"] + Model.P3)" data-config='{"mediaTitle": "@Model.SPMC"}'>
                    <source src="@(Model.P1)" type="video/mp4">
                </video>
            </div>
            <div id="modelView">&nbsp;</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="pdtinfo">
        <input type="hidden" id="pid" value="@Model.ProductId" />
        <div class="pdtTitle">
            <h2>@Model.SPMC</h2>
            <p>@Model.Describle</p>
        </div>
        <div class="pdtPrice">
            @if (Model.Discount == 1)
            {
                <span class="fontR">￥@string.Format("{0:N}", Model.Sale)</span>
            }
            else
            {
                <span class="fontR">￥@string.Format("{0:N}", Model.Sale * Model.Discount)</span>
                <span class="fontNO" style="display:none;">￥@string.Format("{0:N}", Model.Sale)<i class="discount">@(Model.Discount * 10) 折</i></span>
            }
        </div>
        <div class="clearfix"></div>
    </div>
    <ul class="pdtsale" style="display:none;">
        <li style="display:none;">
            <i class="discount">促 销</i>
            <p></p>
        </li>
        <li>
            <span>数&emsp;量：</span>
            <div class="number">
                <b id="reduce"></b>
                <input type="text" value="1" class="cartNum">
                <b id="add"></b>
            </div>
        </li>
    </ul>
    <dl class="pdtDes">
        <dt><h2 class="hover" style="width:100%;" vel="0">产品详情</h2></dt>
        <dd class="prodetial">
            <div>
                品种：
                <span>@(Model.Category.FirstOrDefault(x => x.CategoryType == "种类").CategoryName)</span>
            </div>
            @*<div>功能：
                        <span>
                        @(Model.Category.FirstOrDefault(x => x.CategoryType == "功能").CategoryName)
                        </span>
                </div>*@
            <div style="display:none;">重量：<span>@(Model.Weight)g</span></div>

        </dd>
        @{
            if (Model.Detail != null)
            {
                foreach (var data in Model.Detail)
                {
                    if (!string.IsNullOrEmpty(data.A1))
                    {
                        <dd class="prodetial">
                            <div>@(data.A1)：<span>@(data.A2)</span></div>
                        </dd>
                    }
                }
            }
            <div class="xqimg prodetial">
                @(new HtmlString(Model.Contents))
            </div>

        }

    </dl>
</div>
<style type="text/css">
    .list li {
        background: #FFF;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }

    #moban {
        width: 100%;
        background-color: #000;
        position: fixed;
        z-index: 999999;
        opacity: 0.3;
    }

    .list li .tit {
        height: 2.2rem;
        line-height: 2.2rem;
        background: #f8f8f8;
        padding: 0 0.5rem;
        text-align: right;
        color: #999;
    }

        .list li .tit span {
            float: left;
            color: #333;
        }

    .list li p {
        line-height: 1.5rem;
        display: block;
        padding: 0 0.5rem;
    }
</style>
<!--   公用-->
<div class="mainNav mainNav2">
    <ul>
        <li style="width:33.3%"><a href="~/Home/">首页<i class="nav01"></i></a></li>
        <li style="width:33.3%"><a href="javascript:;" class="buyNow">立即购买</a></li>
        <li style="width:33.3%"><a href="~/Cart/">购物车<i class="nav03"><b class="cartN"></b></i></a></li>
    </ul>
</div>
<script>
    //document.documentElement.style.overflow='hidden';
    var Quanxian = '@Model.Weight';
    var Rols = '@ViewBag.Rols';
    Quanxian=1;
    if (Rols == 2) {

    }
    else if (Rols == 1 && Quanxian==2) {
        $("#moban").show();
    }
    else if (Rols == 0 && Quanxian > 0) {
        $("#moban").show();
    }

        document.body.style.overflow='hidden';
        zymedia('video',{autoplay: true});
       
        var screenheight = window.screen.height / 2;

var videoheight = $(".zy_media").height()/2;
var padding_top = screenheight-videoheight;
$(".playvideo").css({"top":padding_top});
</script>

<!--   轮播图-->
<script type="text/javascript">
    $(function () {
        //$(".proComm").css("display", "none");
        //$(".prodetial").css("display", "block");

        var hlist = $(".pdtDes dt h2");
        hlist.click(function () {
            hlist.removeClass("hover");
            $(this).addClass("hover");
            var vel = $(this).attr("vel");
            if (vel == "0") {
                $(".proComm").css("display", "none");
                $(".prodetial").css("display", "block");
            }
            else {
                $(".proComm").css("display", "block");
                $(".prodetial").css("display", "none");
            }
        })

        var imglist = $(".xqimg img");
        imglist.each(function () {
            var src = $(this).attr("src");
            if (src.indexOf("http")< 0) {
                $(this).attr("src", "/admin/" + $(this).attr("src"));
            }

        })


        $.ajax({
            type: 'get',
            url: '@Url.Content("~/Cart/GetCartNumber")',
            success: function (data) {
                $('.mainNav .cartN').html(data);
            }
        })

        //          购物车最小可为0
        $("#add").click(function () {
            var t = $(this).parent().find('input[type="text"]');
            t.val(parseInt(t.val()) + 1)
        });
        $("#reduce").click(function () {
            var t = $(this).parent().find('input[type="text"]');
            t.val(parseInt(t.val()) - 1)
            if (parseInt(t.val()) < 1) {
                t.val(1);
            }
        });


        //加入购物车
        $('.addTocart').on('click', function () {
            $.ajax({
                type: 'post',
                url: '@Url.Content("~/Cart/Add")',
                data: 'pid=' + $('#pid').val() + '&number=' + $('.number .cartNum').val() + '&flag=1',
                success: function (data) {
                    if (data.error == 0) {
                        $('.mainNav .cartN').html(parseInt($('.mainNav .cartN').html()) + parseInt(data.result));
                    }
                    else {
                        alert('添加失败');
                    }
                }
            });
        });

        //立即购买
        $('.buyNow').on('click', function () {
            $.ajax({
                type: 'post',
                url: '@Url.Content("~/Cart/Add")',
                data: 'pid=' + $('#pid').val() + '&number=' + $('.number .cartNum').val() + '&flag=2',
                success: function (data) {
                    if (data.error == 0) {
                        location.href = '@Url.Content("~/Cart/")';
                    }
                    else {
                        location.href = '@Url.Content("~/Error/")';
                    }
                }
            });
        });

    });
</script>
