
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ComCloudShop.Service
@model ComCloudShop.ViewModel.UserIndexViewModel

<div class="wrapper">
    <div class="headaccount">
        <div class="accountImg"><img src="@Model.url" alt=""></div>
        <h2>微信账号 @Model.username   @Model.Rols</h2>
        <p style="font-size:18px;">奖学金:@Model.TotalIn</p>
        <a style="position:absolute;right:10px; top:25px;" onclick="TXExit()" >退出</a>
</div>
<div class="accountNav">
    <ul>
        <li style="width:33.3%"><a href="~/Order/List?c=0">全部订单<i class="nav01"></i></a></li>
        <li style="width:33.3%"><a href="~/Order/List?c=1">待付款<i class="nav02"></i></a></li>
        @*<li><a href="~/Order/List?c=2">配送中<i class="nav03"></i></a></li>*@
        <li style="width:33.3%"><a href="~/Order/List?c=3">已完成<i class="nav04"></i></a></li>
    </ul>
</div>
<div class="accountInfo">
    <ul>

        @*<li><a href="~/User/BuyCard">成为分享一员<i class="enter"></i></a></li>*@
        <li id="livip"><a>升级VIP<i class="enter"></i></a></li>
        <li id="erweima"><a>分享二维码<i class="enter"></i></a></li>
        <li class="tab_per">
            <a>我的同学<i class="enter"></i></a>
            <ul style=" display:none; ">
                <li><a href="~/User/LineMember?type=1">一级分享员（@((ViewData["list1"] as List<Member>).Count)）</a></li>
                <li><a href="~/User/LineMember?type=2">二级分享员（@((ViewData["list2"] as List<Member>).Count)）</a></li>
            </ul>
        </li>
        <li><a href="~/User/Withd">我要提现(提现到银行卡)<i class="enter"></i></a></li>
        <li style="display:none;"><a href="~/User/MyGifList">我的赠品<i class="enter"></i></a></li>
        <li style="display:none;"><a href="~/Address/List?c=address">收货地址管理<i class="enter"></i></a></li>
    </ul>
</div>
<div class="accountSave" style="display:none;">
    <span>共收益了<label>@Model.TotalIn</label>元</span>
</div>
</div>
<script type="text/javascript">
    $(function () {
        $('.tab_per').click(function () {
            $(this).find('ul').slideToggle()
        })
        $("#erweima").click(function () {
                window.location.href = "RenderImg";
           
        })
        $("#livip").click(function () {

            window.location.href = "AddVip";

        })
    })
    function TXExit() {
        $.ajax({
            type: 'post',
            url: '@Url.Content("~/User/Exit")',
            data: "",
            success: function (data) {
                if (data == "ok") {
                    alert("退出成功!");
                    window.location.href = "/User/Login";
                }
                else {
                    alert("申请失败!")
                }
            }
        })
    }

</script>


