@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="~/">后台管理</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">订单管理</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <div class="result-list">
                <table class="search-tab" width="100%">
                    <tbody>
                        <tr>
                            <th width="15%">订单号</th>
                            <td width="35%">
                                <input class="common-text required" size="20" name="search_orderNum" data-bind="value: search_orderNum" type="text" />
                            </td>
                            <th width="15%">微信昵称</th>
                            <td width="35%">
                                <input class="common-text required" size="20" name="search_nickName" data-bind="value: search_nickName" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <th width="15%">微信支付码</th>
                            <td width="35%">
                                <input class="common-text required" size="20" name="search_payNum" data-bind="value: search_payNum" type="text" />
                            </td>
                            <th width="15%">ERP订单号</th>
                            <td width="35%">
                                <input class="common-text required" size="20" name="search_erpOrderId" data-bind="value: search_erpOrderId" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <th width="15%">快递单号</th>
                            <td width="35%">
                                <input class="common-text required" size="20" name="search_expressNum" data-bind="value: search_expressNum" type="text" />
                            </td>
                            <th width="15%">认证方式</th>
                            <td width="35%">
                                <select class="common-text required" id="search_sel" name="search_sel">
                                    <option value="10">全部</option>
                                    <option value="0">待支付</option>
                                    <option value="1">配送中</option>
                                    <option value="2">已完成</option>
                                    <option value="3">退货中</option>
                                    <option value="4">退货完成</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align :center">
                                <input type="button" class="btn btn-primary btn6 mr10" data-bind="click:btnSearch" value="  查  询  " />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <thead>
                    <tr>
                        <th>订单号</th>
                        <th>微信昵称</th>
                        <th>金额</th>
                        <th>状态</th>
                        <th>支付时间</th>
                        <th width="180">支付码</th>
                        <th>ERP订单号</th>
                        <th>快递单号</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:{data:array, as:'item'}">
                    <tr>
                        <td data-bind="text:item.OrderNum"></td>
                        <td><a href="javascript:void(0);" data-bind="click:function(data,event){$parent.OpenDialogMember(item.MemberId)},text:item.NickName"></a></td>
                        <td data-bind="text:item.PayableAmount"></td>
                        <td data-bind="text:item.Stutas==0?'待支付':(item.Stutas==1?'配送中':(item.Stutas==2?'已完成':(item.Stutas==3?'退货中':'已退货')))"></td>
                        <td data-bind="text:getLocalTimeLong(item.PayDate)"></td>
                        <td data-bind="text:item.PayNum"></td>
                        <td data-bind="text:item.ErpOrderId"></td>
                        <td data-bind="text:item.ExpressNum"></td>
                        <td>
                            <a href="javascript:void(0);" data-bind="click:function(data,event){$parent.OpenDialog(item.OrderNum)}">详情</a>
                            <a href="javascript:void(0);" data-bind="click:function(data,event){$parent.OkTuiKuan(item.OrderNum)},text:Stutas==3?'确定退款':''"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="list-page">
                共<span data-bind="text:total"></span>条
                <span data-bind="text:page_current"></span>/<span data-bind="text:page_total"></span>页
                <a href="javascript:void(0);" data-bind="click:page_pre">上一页</a>
                <a href="javascript:void(0);" data-bind="click:page_next">下一页</a>
            </div>
        </div>

    </div>
</div>

<div style="display: none" id="dialog">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <span class="crumb-name">订单信息</span>
        </div>
    </div>
    <table class="insert-tab" width="100%">
        <tbody>
            <tr>
                <th width="10%"><i class="require-red"></i>订单号：</th>
                <td width="40%" data-bind="text:OrderNum"></td>
                <th width="10%"><i class="require-red"></i>订单状态：</th>
                <td width="40%" data-bind="text:StutasMsg"></td>
            </tr>
            <tr>
                <th width="10%"><i class="require-red"></i>支付时间：</th>
                <td width="40%" data-bind="text:PayDate"></td>
                <th width="10%"><i class="require-red"></i>支付方式：</th>
                <td width="40%" data-bind="text:Payway"></td>
            </tr>
            <tr>
                <th width="10%"><i class="require-red"></i>支付号：</th>
                <td width="40%" data-bind="text:PayNum"></td>
                <th width="10%"><i class="require-red"></i>ERP订单号：</th>
                <td width="40%" data-bind="text:ErpOrderId"></td>
            </tr>
            <tr>
                <th width="10%"><i class="require-red"></i>创建时间：</th>
                <td width="40%" data-bind="text:Createdate"></td>
            </tr>
        </tbody>
    </table>
    <table class="result-tab" width="100%">
        <thead>
            <tr>
                <th>商品总金额</th>
                <th>快递费</th>
                <th>满减金额</th>
                <th>优惠券金额</th>
                <th>实付金额</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-bind="text:ProductPriceSum"></td>
                <td data-bind="text:AcutalCarriage"></td>
                <td data-bind="text:DiscountAmount"></td>
                <td data-bind="text:Amount"></td>
                <td data-bind="text:PayableAmount"></td>
            </tr>
        </tbody>
    </table>
    <table class="result-tab" width="100%">
        <thead>
            <tr>
                <th>商品图片</th>
                <th>商品代码</th>
                <th>商品名称</th>
                <th>购买金额</th>
                <th>购买数量</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:{data:ProductList, as:'item'}">
            <tr>
                <td><img data-bind="attr:{src:item.P1}" width="120" /></td>
                <td data-bind="text:item.SPDM"></td>
                <td data-bind="text:item.SPMC"></td>
                <td data-bind="text:item.BuySale"></td>
                <td data-bind="text:item.BuyNum"></td>
            </tr>
        </tbody>
    </table>
    <div class="crumb-wrap">
        <div class="crumb-list">
            <span class="crumb-name">收件人信息</span>
        </div>
    </div>
    <table class="insert-tab" width="100%">
        <tbody>
            <tr>
                <th width="10%"><i class="require-red"></i>收件人：</th>
                <td width="40%" data-bind="text:UserName"></td>
                <th width="10%"><i class="require-red"></i>联系电话：</th>
                <td width="40%" data-bind="text:Mobile"></td>
            </tr>
            <tr>
                <th width="10%"><i class="require-red"></i>收件地址：</th>
                <td width="10%" data-bind="text:Address"></td>
            </tr>
            <tr>
                <th width="10%"><i class="require-red"></i>用户备注：</th>
                <td width="40%" data-bind="text:Message" colspan="3"></td>
            </tr>
        </tbody>
    </table>
    <table class="insert-tab" width="100%">
        <tbody>
            <tr>
                <th width="10%"><i class="require-red"></i>快递单号：</th>
                <td width="40%">
                    <input class="common-text required" size="25" name="ExpressNum" data-bind="value:ExpressNum" type="text" placeholder="请输入快递单号" />
                </td>
                <th width="10%"><i class="require-red"></i>是否签收：</th>
                <td width="40%">
                    <input type="radio" name="IsReceive" value="0" data-bind="checked:IsReceive" />否
                    <input type="radio" name="IsReceive" value="1" data-bind="checked:IsReceive" />是
                </td>
            </tr>
            <tr id="btnsave">
                <td colspan="4" style="text-align :center">
                    <input type="button" class="btn btn-primary btn6 mr10" data-bind="click:btnUpdate" value="保存快递信息" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="display: none" id="dialogMember">
    <table class="insert-tab" width="100%">
        <tbody>
            <tr>
                <th><i class="require-red"></i>头像：</th>
                <td>
                    <input type="hidden" name="Member_MemberId" data-bind="value:Member_MemberId" />
                    <img data-bind="attr:{src:Member_HeadImgUrl}" width="120" />
                </td>
            </tr>
            <tr>
                <th><i class="require-red"></i>openid：</th>
                <td data-bind="text:Member_OpenId"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>昵称：</th>
                <td data-bind="text:Member_NickName"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>性别：</th>
                <td data-bind="text:Member_Gender==1?'男':(Member_Gender==2?'女':'其它')"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>省份：</th>
                <td data-bind="text:Member_Province"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>城市：</th>
                <td data-bind="text:Member_City"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>县级市：</th>
                <td data-bind="text:Member_District"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>地址：</th>
                <td data-bind="text:Member_ContactAddr"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>真实姓名：</th>
                <td data-bind="text:Member_UserName"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>手机号：</th>
                <td data-bind="text:Member_Mobile"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>Email：</th>
                <td data-bind="text:Member_Email"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>QQ：</th>
                <td data-bind="text:Member_QQ"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>出生日期：</th>
                <td data-bind="text:Member_Birth"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>最后登陆时间：</th>
                <td data-bind="text:Member_LastLoginDate"></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">

    $(function () {

        //select model
        var select_model = function (dm, mc) {
            this.dm = dm;
            this.mc = mc;
        }

        var model = function () {

            var m = this;
            m.size = 10;

            //分页
            m.array = ko.observable();
            m.total = ko.observable(0);
            m.page_current = ko.observable(0);
            m.page_total = ko.observable(0);

            //search
            m.search_orderNum = ko.observable("");
            m.search_nickName = ko.observable("");
            m.search_erpOrderId = ko.observable("");
            m.search_payNum = ko.observable("");
            m.search_expressNum = ko.observable("");

            //详情
            m.OrderNum = ko.observable("");
            m.Payway = ko.observable("");
            m.Carriage = ko.observable("");
            m.DiscountAmount = ko.observable("");
            m.AcutalCarriage = ko.observable("");
            m.PayableAmount = ko.observable("");
            m.PayNum = ko.observable("");
            m.Createdate = ko.observable("");
            m.PayDate = ko.observable("");
            m.ExpressNum = ko.observable("");
            m.Stutas = ko.observable("");
            m.StutasMsg = ko.observable("");
            m.ErpOrderId = ko.observable("");
            m.Message = ko.observable("");
            m.OpenId = ko.observable("");
            m.NickName = ko.observable("");
            m.Gender = ko.observable("");
            m.MemberMobile = ko.observable("");
            m.HeadImgUrl = ko.observable("");
            m.UserName = ko.observable("");
            m.Mobile = ko.observable("");
            m.Province = ko.observable("");
            m.City = ko.observable("");
            m.District = ko.observable("");
            m.Address = ko.observable("");
            m.Consum = ko.observable("");
            m.Amount = ko.observable("");
            m.Original = ko.observable("");
            m.ProductPriceSum = ko.observable(0);
            //是否签收
            m.IsReceive = ko.observable("0");

            m.ProductList = ko.observable();


            //会员详情
            m.Member_MemberId = ko.observable("");
            m.Member_OpenId = ko.observable("");
            m.Member_Birth = ko.observable("");
            m.Member_City = ko.observable("");
            m.Member_ContactAddr = ko.observable("");
            m.Member_Country = ko.observable("");
            m.Member_District = ko.observable("");
            m.Member_Email = ko.observable("");
            m.Member_Gender = ko.observable("");
            m.Member_HeadImgUrl = ko.observable("");
            m.Member_LastLoginDate = ko.observable("");
            m.Member_Mobile = ko.observable("");
            m.Member_NickName = ko.observable("");
            m.Member_OrignKey = ko.observable("");
            m.Member_Province = ko.observable("");
            m.Member_QQ = ko.observable("");
            m.Member_UserName = ko.observable("");

            //btn查询
            m.btnSearch = function () {
                m.loadData(1);
            };

            //上一页
            m.page_pre = function () {
                var page = (m.page_current() - 1);
                if (page > 0) {
                    m.loadData(page);
                }
            };

            //下一页
            m.page_next = function () {
                var page = (m.page_current() + 1);
                var total_page = m.page_total();
                if (page <= total_page) {
                    m.loadData(page);
                }
            };

            m.OkTuiKuan = function (orderNum) {
                $.ajax({
                    type: 'get',
                    url: '@Url.Content("~/Order/OkTuiKuan")',
                    data: 'OrderNum=' + orderNum,
                    success: function (data) {
                        if (data == "SUCCESS") {
                            alert("退款成功！");
                            m.loadData(1);
                        }
                        else {
                            alert("退款失败！");
                        }
                    }
                })
            }

            //查看
            m.OpenDialog = function (orderNum) {
                //清空数据
                m.ClearData();
                $.ajax({
                    type: 'get',
                    url: '@Url.Content("~/Order/Detail")',
                    data: 'OrderNum=' + orderNum,
                    success: function (data) {
                        if (data.error == 100) {

                            m.OrderNum(data.result.detail.OrderNum);
                            m.Payway(data.result.detail.Payway);

                            m.Carriage(data.result.detail.Carriage);
                            m.DiscountAmount("-" + data.result.detail.DiscountAmount);
                            m.AcutalCarriage("+" + data.result.detail.AcutalCarriage);
                            m.PayableAmount(data.result.detail.PayableAmount);

                            m.PayNum(data.result.detail.PayNum);
                            m.Createdate(getLocalTimeLong(data.result.detail.Createdate));
                            m.PayDate(getLocalTimeLong(data.result.detail.PayDate));
                            m.ExpressNum(data.result.detail.ExpressNum);
                            m.Stutas(data.result.detail.Stutas);

                            var Stutas = "";
                            switch (data.result.detail.Stutas) {
                                case 2:
                                    Stutas = "已完成";
                                    m.IsReceive("1"); break;
                                case 1:
                                    if (data.result.detail.ExpressNum == null || data.result.detail.ExpressNum == "")
                                        Stutas = "待发货";
                                    else
                                        Stutas = "配送中";
                                    break;
                                default:
                                    Stutas = "待支付"; break;
                            }
                            m.StutasMsg(Stutas);
                            m.ErpOrderId(data.result.detail.ErpOrderId);
                            m.Message(data.result.detail.Message);
                            m.OpenId(data.result.detail.OpenId);
                            m.NickName(data.result.detail.NickName);
                            m.Gender(data.result.detail.Gender);
                            m.MemberMobile(data.result.detail.MemberMobile);
                            m.HeadImgUrl(data.result.detail.HeadImgUrl);
                            m.UserName(data.result.detail.UserName);
                            m.Mobile(data.result.detail.Mobile);
                            m.Province(data.result.detail.Province);
                            m.City(data.result.detail.City);
                            m.District(data.result.detail.District);
                            var address = data.result.detail.Province + " " + data.result.detail.City + " " + data.result.detail.District + " " + data.result.detail.Address
                            m.Address(address);
                            m.Consum(data.result.detail.Consum == null ? 0 : data.result.detail.Consum);
                            m.Amount(data.result.detail.Amount == null ? 0 : ("-" + data.result.detail.Amount));
                            m.Original(data.result.detail.Original);

                            m.ProductList(data.result.product);

                            var money = 0;
                            $.each(data.result.product, function (i, data) {
                                money += parseFloat(data.BuySale) * parseFloat(data.BuyNum);
                            });
                            m.ProductPriceSum(money);
                            if (m.Stutas() == "1") {
                                console.log(m.Stutas());
                                $('#btnsave input').css('display', '');
                            }
                            else {
                                $('#btnsave input').css('display', 'none');
                            }
                        }
                    }
                })
                $("#dialog").dialog({ width: "90%" });
            };

            //关闭
            m.CloseDialog = function () {
                $("#dialog").dialog('close');
            };

            m.ClearData = function () {
                m.OrderNum("");
                m.Payway("");
                m.Carriage("");
                m.DiscountAmount("");
                m.AcutalCarriage("");
                m.PayableAmount("");
                m.PayNum("");
                m.Createdate("");
                m.PayDate("");
                m.ExpressNum("");
                m.Stutas("");
                m.StutasMsg("");
                m.ErpOrderId("");
                m.Message("");
                m.OpenId("");
                m.NickName("");
                m.Gender("");
                m.MemberMobile("");
                m.HeadImgUrl("");
                m.UserName("");
                m.Mobile("");
                m.Province("");
                m.City("");
                m.District("");
                m.Address("");
                m.Consum("");
                m.Amount("");
                m.Original("");
                m.ProductPriceSum(0);
                m.IsReceive("0");

                m.ProductList("");
            };

            m.OpenDialogMember = function (id) {
                $.ajax({
                    method: "get",
                    url: '@Url.Content("~/User/Detail")',
                    data: 'id=' + id,
                    async: false,
                    dataType: 'json'
                }).done(function (data) {
                    if (data.error == 100) {

                        m.Member_MemberId(data.result.MemberId);
                        m.Member_OpenId(data.result.OpenId);
                        m.Member_Birth(data.result.Birth);
                        m.Member_City(data.result.City);
                        m.Member_ContactAddr(data.result.ContactAddr);
                        m.Member_Country(data.result.Country);
                        m.Member_District(data.result.District);
                        m.Member_Email(data.result.Email);
                        m.Member_Gender(data.result.Gender);
                        m.Member_HeadImgUrl(data.result.HeadImgUrl);
                        m.Member_LastLoginDate(data.result.LastLoginDate);
                        m.Member_Mobile(data.result.Mobile);
                        m.Member_NickName(data.result.NickName);
                        m.Member_OrignKey(data.result.OrignKey);
                        m.Member_Province(data.result.Province);
                        m.Member_QQ(data.result.QQ);
                        m.Member_UserName(data.result.UserName);

                    } else {
                        alert('系统错误！');
                    }
                });
                $("#dialogMember").dialog({ width: "900px" });

            }

            //保存快递信息
            m.btnUpdate = function () {

                if (confirm('确定提交快递信息吗？')) {

                    if (m.Stutas() == "0") {
                        alert('该订单未支付，不能设置快递信息！');
                        return;
                    }
                    if (m.Stutas() == "2") {
                        alert('该订单已完成，不能设置快递信息！');
                        return;
                    }

                    if ((m.ExpressNum() == "" || m.ExpressNum() == null) && m.IsReceive() == "1") {
                        alert('请填写快递单号！');
                        return;
                    }

                    var parm = {
                        OrderNum: m.OrderNum(),
                        ExpressNum: m.ExpressNum(),
                        IsReceive: m.IsReceive()
                    }

                    $.ajax({
                        type: 'post',
                        url: '@Url.Content("~/Order/SetOrderExpressInfo")',
                        data: parm,
                        success: function (data) {
                            if (data) {
                                alert('OK');
                                m.CloseDialog();
                                m.loadData(1);
                            } else {
                                alert('Error');
                            }
                        }
                    })

                }

            }

            m.Delete = function (id) {

                if (confirm('确定删除吗？')) {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Content("~/Order/Delete")',
                        data: 'OrderId=' + id,
                        success: function (data) {
                            if (data.error == 100) {
                                alert('删除成功！');
                                m.loadData(1);
                            } else {
                                alert('删除失败！')
                            }
                        }
                    })
                }
            }

            //加载表单数据
            m.loadData = function (page) {
                var url = "@Url.Content("~/Order/List")" + "?page=" + page + "&orderNum=" + m.search_orderNum() + "&nickName=" + m.search_nickName() + "&payNum=" + m.search_payNum() + "&erpOrderId=" + m.search_erpOrderId() + "&expressNum=" + m.search_expressNum() + "&Stutas=" + $("#search_sel").val() + "&SPGG=0";
                $.ajax({
                    method: "get",
                    url: url,
                    async: false,
                    dataType: 'json'
                }).done(function (data) {
                    if (data.error == 100) {
                        m.total(data.total);
                        m.page_total(Math.ceil(data.total / m.size));
                        m.page_current(page);
                        m.array(data.result);
                    } else {
                        alert("Get Data Error");
                    }

                });
            };
        };

        //初始化数据
        var obj = new model();
        obj.loadData(1);
        ko.applyBindings(obj);

    });

</script>
