@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ComCloudShop.ViewModel.ProductGroupSaleViewModel

<div class="rrcc" id="RightBox">
    <div class="center"></div>
    <div class="right" id="li010">
        <div class="right01">
            <img src="~/Content/images/04.gif" alt="" />
            后台管理 &gt; <span>活动管理&gt; @Model.saleName</span>
        </div>

        <link rel="stylesheet" href="~/Content/styles/kendo.silver.min.css">

        <div id="example" class="k-content" style="padding: 2px;">
            <div id="grid2">
                <div style="padding: 10px">
                    <table>
                        <tr>
                            <td><label>商品代码:</label><input id="spdm" value="@ViewData["dm"]" style="width: 150px" /><label>商品名称:</label><input id="spmc" value="@ViewData["mc"]" style="width: 150px" /></td>
                        </tr>
                        <tr><td colspan="2"><button id="btnSearch2">查询</button></td></tr>
                    </table>
                    
                </div>
                <script type="text/javascript">
    var k = 1;
    var id = "@Model.saleId";
    var name2 = "@Model.saleName"
    var sum2 = '@ViewData["page"]';
    var dm = "@ViewData["dm"]";
    var mc = "@ViewData["mc"]";


    $(document).ready(function () {

        $("#btnSearch2").kendoButton().click(function () {
            var code = $.trim($("#spdm").val());
            var mc = $.trim($("#spmc").val());
            location.href = "@Url.Content("~/sale/detail?sysno=")" + id + "&dm=" + code + "&mc=" + mc;
            //if (code.length == 0 && mc.length == 0) {
            //    return;
            //}
            //$.getJSON("/groups/productlist", { page: 1, dm: code, mc: mc }, function (data1) {
            //    var dataSource = new kendo.data.DataSource({
            //        data: data1
            //    });
            //    var grid = $("#grid2").data("kendoGrid");
            //    grid.setDataSource(dataSource);
            //});
        });

        $("#editmenu").kendoWindow({
            width: "600px",
            height: "auto",
            title: "上传图片",
            actions: [
                "Minimize",
                "Maximize",
                "Close"
            ],
            modal: true,
            visible: false
        });
        var dialog = $("#editmenu").data("kendoWindow");


        $("#grid2").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: "@Url.Content("~/sale/productlist?page=1&dm=")" + dm + "&mc=" + mc
                },
                schema: {
                    model: {
                        fields: {
                            ProductId: { type: "int" },
                            ProductGuid: { type: "string" },
                            SPDM: { type: "string" },
                            SPMC: { type: "string" },
                            Sale: { type: "string" },
                            Discount: { type: "string" }

                        }
                    }
                },
                pageSize: 20
            },
            //height:700,
            filterable: true,
            sortable: true,
            resizable: true,
            columns: [{
                field: "ProductGuid",
                filterable: false,
                hidden: true
            },
                {
                    field: "ProductId",
                    filterable: false,
                    hidden: true
                },
                {
                    field: "SPDM",
                    filterable: false,
                    title: "商品代码"
                },
                {
                    field: "SPMC",
                    filterable: false,
                    title: "商品名称"
                },
                {
                    field: "Sale",
                    filterable: false,
                    title: "商品价格"
                },
                {
                    field: "Discount",
                    filterable: false,
                    title: "折扣比例"
                },
                {
                    command: [{
                        name: "添加", click: function (e) {
                            var tr = $(e.target).closest("tr");
                            var data = this.dataItem(tr);
                            $.post("@Url.Content("~/sale/addgrouprelation")", { productId: data.ProductId, saleId: id }, function (data) {
                                if (data) {
                                    alert('保存成功'); return;
                                }
                                alert('保存错误'); return;
                            })
                        }
                    }]
                }
            ]
        });


        $(".btnRecord2").kendoButton().click(function () {
            if ($(this).val() == "下页") {
                k++;
                if (k > sum2) {
                    return;
                }
                $.getJSON("@Url.Content("~/sale/productlist")", { page: k, dm: dm, mc: mc }, function (data1) {
                    var dataSource = new kendo.data.DataSource({
                        data: data1
                    });
                    var grid = $("#grid2").data("kendoGrid");
                    grid.setDataSource(dataSource);
                });
            } else if ($(this).val() == "上页") {
                if (k > 0) {
                    k--;
                } else {
                    return;
                }
                $.getJSON("@Url.Content("~/sale/productlist")", { page: k, dm: dm, mc: mc }, function (data1) {
                    var dataSource = new kendo.data.DataSource({
                        data: data1
                    });
                    var grid = $("#grid2").data("kendoGrid");
                    grid.setDataSource(dataSource);
                });
            } else if ($(this).val() == "首页") {
                k = 1;
                $.getJSON("@Url.Content("~/sale/productlist")", { page: k, dm: dm, mc: mc }, function (data1) {
                    var dataSource = new kendo.data.DataSource({
                        data: data1
                    });
                    var grid = $("#grid2").data("kendoGrid");
                    grid.setDataSource(dataSource);
                });
            } else if ($(this).val() == "尾页") {
                k = sum2;
                $.getJSON("@Url.Content("~/sale/productlist")", { page: k, dm: dm, mc: mc }, function (data1) {
                                    var dataSource = new kendo.data.DataSource({
                                        data: data1
                                    });
                                    var grid = $("#grid2").data("kendoGrid");
                                    grid.setDataSource(dataSource);
                                });
                            } else if ($(this).val() == "跳转") {
                                var j = $.trim($("#textPage2").val());

                                if (j.length <= 0 || isNaN(parseInt(j)) || j > sum) {
                                    return;
                                }

                                $.getJSON("@Url.Content("~/sale/productlist")", { page: j, dm: dm, mc: mc }, function (data1) {
                                    var dataSource = new kendo.data.DataSource({
                                        data: data1
                                    });
                                    var grid = $("#grid2").data("kendoGrid");
                                    grid.setDataSource(dataSource);
                                });
                            }
                        });

                    });

                </script>
            </div>
            <div style="margin-top: 10px">
                <input type="button" value="首页" class="btnRecord2" />
                <input type="button" value="上页" class="btnRecord2" />
                <input type="button" value="下页" class="btnRecord2" />
                <input type="button" value="尾页" class="btnRecord2" />
                <span>共 @ViewData["page"] 页</span>
                <span>跳转<input type="text" value="" style="width:50px" id="textPage2"> 页<input type="button" value="跳转" class="btnRecord2" /></span>
            </div>

        </div>



    </div>
</div>
