@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
@section HeadScript{
    <script src="~/public/admin/js/common/jquery.form.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
    <script type="text/javascript">
        $(function () {

            $("#btn_show").bind("click", function () {
                $("#form_upload").show();
                var options = {
                    success: function (responseText, statusText, xhr, $form) {
                        var picPath = responseText.pic;
                        if (picPath == "") {
                            alert(responseText.error);
                        }
                        else {
                            $("#form_upload").hide();
                            $("input[name='Storefront']").val(picPath);
                            $("#Storefronts").attr("src", "/" + picPath).show();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                };
                $("#form_upload").ajaxForm(options)
            });
            $("#btn_show1").bind("click", function () {
                $("#form_upload2").show();
                var options = {
                    success: function (responseText, statusText, xhr, $form) {
                        var picPath = responseText.pic;
                        if (picPath == "") {
                            alert(responseText.error);
                        }
                        else {
                            $("#form_upload2").hide();
                            $("input[name='license']").val(picPath);
                            $("#licenses").attr("src", '@Url.Content("~/")' + picPath).show();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                };
                $("#form_upload2").ajaxForm(options)
            });
        });

    </script>
}
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="~/">后台管理</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">商家管理</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <div class="result-list">
                <table class="search-tab" width="100%">
                    <tbody>
                        <tr>
                            <td style="text-align :center">
                                <input type="button" class="btn btn-primary btn6 mr10" data-bind="click:function(event){OpenDialog(0)}" value=" 添 加 " />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <thead>
                    <tr>
                        <th>商家登录名</th>
                        <th>密码</th>
                        <th>商家名称</th>
                        <th>联系人</th>
                        <th>联系手机</th>
                        <th>上限个数</th>
                        <th>奖学金</th>
                        <th width="200">操作</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:{data:array, as:'item'}">
                    <tr>
                        <td data-bind="text:item.UserName"></td>
                        <td data-bind="text:item.Pwd"></td>
                        <td data-bind="text:item.ShopName"></td>
                        <td data-bind="text:item.Contacts"></td>
                        <td data-bind="text:item.Phone"></td>
                        <td data-bind="text:item.Proportion"></td>
                        <td><a href="javascript:void(0);" data-bind="text:'0',click:function(data,event){$parent.LookCom(data)}">修改</a></td>
                        
                        <td>
                            <a href="javascript:void(0);" data-bind="click:function(data,event){$parent.OpenDialog(1,data)}">修改</a>
                            <a href="javascript:void(0);" data-bind="click:function(data,event){$parent.OkTuiKuan(item.ID)},text:State==0?'审核通过':''"></a>
                            <a href="javascript:void(0);" data-bind="click:function(data,event){$parent.OkDel(item.ID)}">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="list-page">
                共<span data-bind="text:total"></span>条
                <span data-bind="text:page_current"></span>/<span data-bind="text:page_total"></span>页
                <a href="javascript:void(0);" data-bind="click:page_pre">上一页</a>
                <a href="javascript:void(0);" data-bind="click:page_next">下一页</a>
            </div>
        </div>

    </div>
</div>
<div id="dialogList" style="display:none;">
    <div class="result-content">
        <table class="result-tab" width="100%">
            <thead>
                <tr>
                    <th>昵称</th>
                    <th>金额</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:{data:arrayList, as:'item'}">
                <tr>
                    <td data-bind="text:item.NickName"></td>
                    <td data-bind="text:item.Mobile"></td>
                </tr>
            </tbody>
        </table>
        <div class="list-page">
            共<span data-bind="text:total1"></span>条
            <span data-bind="text:page_current1"></span>/<span data-bind="text:page_total1"></span>页
            <a href="javascript:void(0);" data-bind="click:page_pre1">上一页</a>
            <a href="javascript:void(0);" data-bind="click:page_next1">下一页</a>
        </div>
    </div>
</div>
<div style="display: none" id="dialog">
    <table class="insert-tab" width="100%">
        <tbody>
            <tr>
                <th><i class="require-red"></i>登录名：</th>
                <td>
                    <input type="hidden" name="ID" data-bind="value:ID" />
                    <input class="common-text required" size="40" name="UserName" data-bind="value:UserName" type="text" placeholder="请输入登录名" />
                </td>
            </tr>
            <tr>
                <th><i class="require-red"></i>密码：</th>
                <td>
                    <input class="common-text required" size="40" name="Pwd" data-bind="value:Pwd" type="text" />
                </td>
            </tr>
            <tr style="display:none;">
                <th><i class="require-red"></i>是否推荐：</th>
                <td>
                    <input type="radio" name="IsRecommend" value="0" data-bind="checked:IsRecommend" />否
                    <input type="radio" name="IsRecommend" value="1" data-bind="checked:IsRecommend" />是
                </td>
            </tr>
            <tr>
                <th><i class="require-red"></i>商家名称：</th>
                <td>
                    <input class="common-text required" size="40" name="Pwd" data-bind="value:ShopName" type="text" />
                </td>
            </tr>
            <tr>
                <th><i class="require-red"></i>商家地址：</th>
                <td>
                    <input class="common-text required" size="40" name="Pwd" data-bind="value:ShopAddress" type="text" />
                </td>
            </tr>
            <tr style="display:none;">
                <th><i class="require-red"></i>商家分类：</th>
                <td>
                    <input class="common-text required" style="display:none;" size="40" name="Pwd" data-bind="value:Category" type="text" />
                    <p class="pcate"></p>
                </td>
            </tr>
            <tr>
                <th><i class="require-red"></i>添加会员上限：</th>
                <td>
                    <input class="common-text required" size="40" name="Proportion" data-bind="value:Proportion" type="text" />
                </td>
            </tr>
            
            <tr style="display:none;">
                <th><i class="require-red"></i>主营项目：</th>
                <td>
                    <input class="common-text required" size="40" name="Business" data-bind="value:Business" type="text" />
                </td>
            </tr>

            <tr style="display:none;">
                <th><i class="require-red"></i>简单介绍：</th>
                <td>
                    <input class="common-text required" size="40" name="Introduce" data-bind="value:Introduce" type="text" />
                </td>
            </tr>

            <tr >
                <th><i class="require-red"></i>联系人：</th>
                <td>
                    <input class="common-text required" size="40" name="Contacts" data-bind="value:Contacts" type="text" />
                </td>
            </tr>
            <tr>
                <th><i class="require-red"></i>手机号：</th>
                <td>
                    <input class="common-text required" size="40" name="Phone" data-bind="value:Phone" type="text" />
                </td>
            </tr>

            <tr style="display:none;">
                <th><i class="require-red"></i>店面图片：</th>
                <td>
                    <input type="button" id="btn_show" value="上传图片" />
                    <br />
                    <form id="form_upload" style="padding:20px; display:none;" action="UploadImg"
                          method="post" enctype="multipart/form-data">
                        <input name="upImg" style="width:350px;height:25px;" size="38" type="file" />
                        <input type="submit" value="上传" />
                    </form>
                    <img alt="" style="display:none;" width="250" height="80" id="Storefronts" src="" />
                    <input type="hidden" id="Storefront" name="Storefront" data-bind="value:Storefront" />
                </td>
            </tr>

            <tr style="display:none;">
                <th><i class="require-red"></i>营业执照：</th>
                <td>
                    <input type="button" id="btn_show1" value="上传图片" />
                    <br />
                    <form id="form_upload2" style="padding:20px; display:none;" action="UploadImg"
                          method="post" enctype="multipart/form-data">
                        <input name="upImg" style="width:350px;height:25px;" size="38" type="file" />
                        <input type="submit" value="上传" />
                    </form>
                    <img alt="" style="display:none;" width="250" height="80" id="licenses" src="" />
                    <input type="hidden" id="license" name="license" data-bind="value:license" />
                </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align :center">
                    <input type="button" class="btn btn-primary btn6 mr10" data-bind="click:btnUpdate" value=" 提 交 " />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="container"></div>
<script type="text/javascript">


    function GetCate() {
        var url = "@Url.Content("~/Cate/List")" + "?status=1&page=1";
        $.ajax({
            method: "get",
            url: url,
            async: false,
            dataType: 'json'
        }).done(function (data) {
            if (data.error == 100) {
                var htmls = "";
                for (var i = 0; i < data.result.length; i++) {
                    htmls += "" + data.result[i].Brand + "<input type='checkbox' class='chks' vel='" + data.result[i].Brand + "'>";
                }
                $(".pcate").html(htmls);
            } else {
                alert("Get Data Error");
            }

        });
    }
    $(function () {
        var map = new BMap.Map("container");
        var lng = "";
        var lat = "";
        var localSearch = new BMap.LocalSearch(map);
        function searchByStationName(keyword) {
            map.clearOverlays();//清空原来的标注
            localSearch.setSearchCompleteCallback(function (searchResult) {
                var poi = searchResult.getPoi(0);
                lng = poi.point.lng;
                lat = poi.point.lat;
            });
            localSearch.search(keyword);
        }

        GetCate();
        //select model
        var select_model = function (dm, mc) {
            this.dm = dm;
            this.mc = mc;
        }

        var model = function () {

            var m = this;
            m.size = 10;

            //分页
            m.arrayList = ko.observable();
            m.array = ko.observable();
            m.total = ko.observable(0);
            m.page_current = ko.observable(0);
            m.page_total = ko.observable(0);
            m.total1 = ko.observable(0);
            m.page_current1 = ko.observable(0);
            m.page_total1 = ko.observable(0);
            //search

            //详情
            m.ID = ko.observable("");
            m.UserName = ko.observable("");
            m.Pwd = ko.observable("");
            m.ShopName = ko.observable("");
            m.ShopAddress = ko.observable("");
            m.Category = ko.observable("");
            m.IsRecommend = ko.observable("0");
            m.Proportion = ko.observable("0");


            m.Contacts = ko.observable("");
            m.license = ko.observable("");
            m.Storefront = ko.observable("");
            m.Phone = ko.observable("");
            m.Business = ko.observable("");
            m.Introduce = ko.observable("");
            //btn查询
            m.btnSearch = function () {
                m.loadData(1);
            };

            //上一页
            m.page_pre = function () {
                var page = (m.page_current() - 1);
                if (page > 0) {
                    m.loadData(page);
                }
            };

            //下一页
            m.page_next = function () {
                var page = (m.page_current() + 1);
                var total_page = m.page_total();
                if (page <= total_page) {
                    m.loadData(page);
                }
            };

            m.OkDel = function (ID) {
                if (confirm("是否确定删除?")) {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Content("~/Manger/Del")',
                        data: 'ID=' + ID,
                        success: function (data) {
                            if (data == "ok") {
                                alert("删除通过！");
                                m.loadData(1);
                            }
                            else {
                                alert("删除失败！");
                            }
                        }
                    })
                }
            }

            m.OkTuiKuan = function (ID) {
                $.ajax({
                    type: 'get',
                    url: '@Url.Content("~/Manger/OkTuiKuan")',
                    data: 'ID=' + ID,
                    success: function (data) {
                        if (data == "ok") {
                            alert("审核通过！");
                            m.loadData(1);
                        }
                        else {
                            alert("退款失败！");
                        }
                    }
                })
            }
            m.LookCom = function (data) {
                var url = "@Url.Content("~/user/list3?page=1")&mobile=" + data.Phone;
                $.ajax({
                    method: "get",
                    url: url,
                    async: false,
                    dataType: 'json'
                }).done(function (data) {
                    m.arrayList(data);
                });
                $("#dialogList").dialog({ width: "600px" });
            }
            //查看
            m.OpenDialog = function (type, data) {
                if (type > 0) {
                    var chks = $(".chks");
                    var Category = data.Category;
                    m.ID(data.ID);
                    m.UserName(data.UserName);
                    m.Pwd(data.Pwd);
                    m.ShopName(data.ShopName);
                    m.ShopAddress(data.ShopAddress);
                    m.Proportion(data.Proportion);
                    //m.Category(data.Category);
                    chks.each(function () {
                        if (Category != "") {
                            if (Category.indexOf($(this).attr("vel")) >= 0) {
                                $(this).attr("checked", true);
                            }
                            else {
                                $(this).attr("checked", false);
                            }
                        }
                        else {
                            $(this).attr("checked", false);
                        }
                    })
                    m.IsRecommend("" + data.IsRecommend + "");

                    m.Contacts(data.Contacts);
                    m.Phone(data.Phone);
                    m.Business(data.Business);
                    m.Introduce(data.Introduce);
                    
                    if (data.Storefront == null || data.Storefront == "") {
                        $("input[name='Storefront]").val('');
                        $("#Storefronts").hide();
                    } else {
                        $("input[name='Storefront']").val(data.Storefront);
                        $("#Storefronts").attr("src", '@Url.Content("~/")' + data.Storefront).show();
                    }
                    if (data.license == null || data.license == "") {
                        $("input[name='license]").val('');
                        $("#licenses").hide();
                    } else {
                        $("input[name='license']").val(data.license);
                        $("#licenses").attr("src", '@Url.Content("~/")' + data.license).show();
                    }
                } else {
                    m.ID("");
                    m.UserName("");
                    m.Pwd("");
                    m.ShopName("");
                    m.ShopAddress("");
                    m.Proportion("0");
                    //m.Category("");
                    m.IsRecommend("0");

                    m.Contacts("");
                    m.Phone("");
                    m.Business("");
                    m.Introduce("");

                    $("input[name='license]").val('');
                    $("#license").hide();
                    $("input[name='Storefront]").val('');
                    $("#Storefront").hide();

                    $("#resultBig").hide();
                }
                $("#dialog").dialog({ width: "600px" });
            };

            //关闭
            m.CloseDialog = function () {
                $("#dialog").dialog('close');
            };

            //添加修改
            m.btnUpdate = function () {

                
                m.license($('input[name="license"]').val());
                m.Storefront($("input[name='Storefront']").val());
                var chks = $(".chks:checked");
                if (chks.length <= 0) {
                    alert("请选择分类");
                    return false;
                }
                else {
                    var Category = "";
                    chks.each(function () {
                        if (Category == "") {
                            Category += $(this).attr("vel");
                        }
                        else {
                            Category += ","+$(this).attr("vel");
                        }
                    })
                    searchByStationName(m.ShopAddress());
                    if (lat == "" || lng == "") {
                        alert("地址获取失败！请填写正确准确地址！");
                    }
                    else {
                        var parm = {
                            //单条model信息
                            ID: m.ID(),
                            UserName: m.UserName(),
                            Pwd: m.Pwd(),
                            ShopName: m.ShopName(),
                            ShopAddress: m.ShopAddress(),
                            Category: Category,
                            IsRecommend: m.IsRecommend(),
                            Proportion: m.Proportion(),
                            Contacts: m.Contacts(),
                            Phone: m.Phone(),
                            Business: m.Business(),
                            Introduce: m.Introduce(),
                            license: m.license(),
                            Storefront: m.Storefront(),
                            Lng: lng,
                            Lat:lat
                        }

                        $.ajax({
                            type: 'post',
                            url: '@Url.Content("~/Manger/AddOrUpdate")',
                            data: parm,
                            success: function (data) {
                                if (data) {
                                    alert('OK');
                                    m.CloseDialog();
                                    m.loadData(1);
                                } else {
                                    alert('Error');
                                }
                            }
                        })
                    }
                    
                }
            }
            //加载表单数据
            m.loadData = function (page) {
                var url = "@Url.Content("~/Manger/List")" + "?status=1&page=" + page;
                $.ajax({
                    method: "get",
                    url: url,
                    async: false,
                    dataType: 'json'
                }).done(function (data) {
                    if (data.error == 100) {
                        m.total(data.total);
                        m.page_total(Math.ceil(data.total / m.size));
                        m.page_current(page);
                        m.array(data.result);
                    } else {
                        alert("Get Data Error");
                    }

                });
            };
        };

        //初始化数据
        var obj = new model();
        obj.loadData(1);
        ko.applyBindings(obj);

    });
    
</script>
