@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="~/">后台管理</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">品种管理</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <div class="result-list">
                <table class="search-tab" width="100%">
                    <tbody>
                        <tr>
                            <td style="text-align :center">
                                <input type="button" class="btn btn-primary btn6 mr10" data-bind="click:function(event){OpenDialog(0)}" value=" 添 加 " />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <thead>
                    <tr>
                        <th>品种名称</th>
                        <th>连接</th>
                        <th>上级</th>
                        <th width="200">操作</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:{data:array, as:'item'}">
                    <tr>
                        <td data-bind="text:item.CategoryName"></td>
                        <td><span>http://mm.hofaf.com/Product/Index/?type=</span><span data-bind="text:CategoryId"></span></td>
                        <td data-bind="text:item.ParentId"></td>
                        <td>
                            <a href="javascript:void(0);" data-bind="click:function(data,event){$parent.OpenDialog(1,data)}">修改</a>
                            <a href="javascript:void(0);" data-bind="click:function(data,event){$parent.Delete(item.CategoryId)}">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="list-page">
                共<span data-bind="text:total"></span>条
                <span data-bind="text:page_current"></span>/<span data-bind="text:page_total"></span>页
                <a href="javascript:void(0);" data-bind="click:page_pre">上一页</a>
                <a href="javascript:void(0);" data-bind="click:page_next">下一页</a>
            </div>
        </div>

    </div>
</div>

<div style="display: none" id="dialog">
    <table class="insert-tab" width="100%">
        <tbody>
             <tr>
                 <th><i class="require-red"></i>父类：</th>
                 <td>
                     <select data-bind="options:listCategory,
                                                        optionsValue:function(item){return item.dm;},
                                                        optionsText:function(item){return item.mc;},
                                                        value:PId,optionsCaption:'--请选择--'" name="PId"></select>
                 </td>
             </tr>
            <tr>
                <th><i class="require-red"></i>品种名称：</th>
                <td>
                    <input type="hidden" name="CategoryId" data-bind="value:CategoryId" />
                    <input class="common-text required" size="40" name="CategoryName" data-bind="value:CategoryName" type="text" placeholder="请输入品种名称" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align :center">
                    <input type="button" class="btn btn-primary btn6 mr10" data-bind="click:btnUpdate" value=" 提 交 " />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">

    $(function () {

        //select model
        var select_model = function (dm, mc) {
            this.dm = dm;
            this.mc = mc;
        }

        var model = function () {

            var m = this;
            m.size = 10;

            //分页
            m.array = ko.observable();
            m.total = ko.observable(0);
            m.page_current = ko.observable(0);
            m.page_total = ko.observable(0);
            m.listCategory = ko.observableArray();
            //search

            //详情
            m.PId = ko.observable("");
            m.CategoryId = ko.observable("");
            m.CategoryName = ko.observable("");

            //btn查询
            m.btnSearch = function () {
                m.loadData(1);
            };

            //上一页
            m.page_pre = function () {
                var page = (m.page_current() - 1);
                if (page > 0) {
                    m.loadData(page);
                }
            };

            //下一页
            m.page_next = function () {
                var page = (m.page_current() + 1);
                var total_page = m.page_total();
                if (page <= total_page) {
                    m.loadData(page);
                }
            };

            //查看
            m.OpenDialog = function (type, data) {
                if (type > 0) {
                    m.CategoryId(data.CategoryId);
                    m.CategoryName(data.CategoryName);
                    console.log("1=" + data.ParentId)
                    m.PId(data.ParentId);
                } else {
                    m.CategoryId("");
                    m.CategoryName("");
                    m.PId("");
                }
                $("#dialog").dialog({ width: "600px" });
            };

            //关闭
            m.CloseDialog = function () {
                $("#dialog").dialog('close');
            };

            //添加修改
            m.btnUpdate = function () {

                var pid = m.PId();

                var parm = {
                    //单条model信息
                    CategoryId: m.CategoryId(),
                    CategoryName: m.CategoryName(),
                    CategoryType: 1,
                    ParentId: pid
                }
                console.log(pid);
                $.ajax({
                    type: 'post',
                    url: '@Url.Content("~/Category/AddOrUpdate")',
                    data: parm,
                    success: function (data) {
                        if (data) {
                            alert('OK');
                            m.CloseDialog();
                            m.loadData(1);
                        } else {
                            alert('Error');
                        }
                    }
                })
            }

            m.Delete = function (id) {

                if (confirm('确定删除吗？')) {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Content("~/Category/DeleteNew")',
                        data: 'CategoryId=' + id,
                        success: function (data) {
                            if (data.error == 100) {
                                alert('删除成功！');
                                m.loadData(1);
                            } else {
                                alert('删除失败！')
                            }
                        }
                    })
                }
            }

            //加载表单数据
            m.loadData = function (page) {
                var url = "@Url.Content("~/Category/List")" + "?status=1&page=" + page;
                $.ajax({
                    method: "get",
                    url: url,
                    async: false,
                    dataType: 'json'
                }).done(function (data) {
                    if (data.error == 100) {
                        m.total(data.total);
                        m.page_total(Math.ceil(data.total / m.size));
                        m.page_current(page);
                        m.array(data.result);
                    } else {
                        alert("Get Data Error");
                    }

                });
            };

            m.loadCategorySelect = function () {
                $.ajax({
                    type: 'get',
                    url: '@Url.Content("~/Product/GetCategorySelect")',
                    dataType: 'json',
                    success: function (data) {
                        if (data.error == 100) {
                            $.each(data.result, function (i, item) {
                                m.listCategory.push(new select_model(item.dm, item.mc));
                            });
                        } else {
                            alert('获取品种列表错误！');
                        }
                    }
                });
            };
        };

        //初始化数据
        var obj = new model();
        obj.loadData(1);
        obj.loadCategorySelect();
        ko.applyBindings(obj);

    });

</script>

@*<div class="rrcc" id="RightBox">
    <div class="center"></div>
    <div class="right" id="li010">
        <div class="right01">
             <img src="~/Content/images/04.gif" alt="" />
            后台管理 &gt; <span>@ViewData["name"]</span>
        </div>

        <div id="example" class="k-content" style="padding: 2px;">
            <button id="btnNew">新增</button> <button id="btnNew2">@ViewData["btnName"]</button>

            <div id="grid" style="padding-top:5px">
                <script type="text/javascript">

    $("#btnNew").kendoButton().click(function(){
        location.href = '@Url.Content("~/category/edit/?status=")'+@ViewData["status"];
    });

    $("#btnNew2").kendoButton().click(function () {
        location.href = '@Url.Content("~/category/index/?status=")'+@(ViewData["status"].ToString()=="2"?1:2);
    });

    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: "@Url.Content("~/category/list/?status=")"+@ViewData["status"],
                },
                schema: {
                    model: {
                        fields: {
                            CategoryId: { type: "int" },
                            CategoryName: { type: "string" }
                        }
                    }
                }
            },

            filterable: true,
            sortable: true,
            resizable: true,
            columns: [{
                field: "CategoryId",
                filterable: false,
                hidden: true
            },
                {
                    field: "CategoryName",
                    filterable: false,
                    title: "@ViewData["name"]"
                },
                {
                    command: [{
                        name: "编辑", click: function (e) {
                            var tr = $(e.target).closest("tr");
                            var data = this.dataItem(tr);
                            location.href = '@Url.Content("~/category/edit/?status=")'+@ViewData["status"]+'&cid=' + data.CategoryId;
                        }
                    }, {
                        name: "删除", click: function (e) {
                            if (confirm('确定删除吗？')) {
                                var tr = $(e.target).closest("tr");
                                var data = this.dataItem(tr);
                                $.post("@Url.Content("~/category/delete")", { sysno: data.CategoryId }, function (data1) {
                                    if (data1) {
                                        alert('删除成功');
                                        location.href = '@Url.Content("~/category/index?status=")'+@ViewData["status"];
                                    } else {
                                        alert("删除失败");
                                    }
                                });
                            }

                        }
                    }
                    ]
                }
            ]
        });

    });

</script>
            </div>
        </div>

        
    </div>
</div>*@



