@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="~/">后台管理</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">优惠券管理</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <div class="result-list">
                <table class="search-tab" width="100%">
                    <tbody>
                        <tr>
                            <th width="15%">昵称</th>
                            <td width="35%">
                                <input class="common-text required" size="20" name="search_nickName" data-bind="value: search_nickName" type="text" />
                            </td>
                            <th width="15%">openid</th>
                            <td width="35%">
                                <input class="common-text required" size="20" name="search_openid" data-bind="value: search_openid" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <th width="15%">手机号</th>
                            <td width="35%" colspan="3">
                                <input class="common-text required" size="20" name="search_mobile" data-bind="value: search_mobile" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align :center">
                                <input type="button" class="btn btn-primary btn6 mr10" data-bind="click:btnSearch" value="  查  询  " />
                                <input type="button" class="btn btn-primary btn6 mr10" data-bind="click:function(event){OpenAddDialog()}" value="  添  加  " />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <thead>
                    <tr>
                        <th>头像</th>
                        <th>openid</th>
                        <th>昵称</th>
                        <th>手机号</th>
                        <th>优惠金额</th>
                        <th>优惠条件</th>
                        <th>来源</th>
                        <th>是否使用</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:{data:array, as:'item'}">
                    <tr>
                        <td><img data-bind="attr:{src:item.HeadImgUrl}" width="50" height="50" /></td>
                        <td data-bind="text:item.OpenId"></td>
                        <td data-bind="text:item.NickName"></td>
                        <td data-bind="text:item.Mobile"></td>
                        <td data-bind="text:item.Amount"></td>
                        <td data-bind="text:item.Consum"></td>
                        <td data-bind="text:item.Original"></td>
                        <td data-bind="text:(item.IsUse==1?'是':'否')"></td>
                        <td>
                            <a href="javascript:void(0);" data-bind="click:function(data,event){$parent.OpenDialog(item.CouponId)}" class="btnsearch">详情</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="list-page">
                共<span data-bind="text:total"></span>条
                <span data-bind="text:page_current"></span>/<span data-bind="text:page_total"></span>页
                <a href="javascript:void(0);" data-bind="click:page_pre">上一页</a>
                <a href="javascript:void(0);" data-bind="click:page_next">下一页</a>
            </div>
        </div>

    </div>
</div>

<div style="display: none" id="dialog">
    <table class="insert-tab" width="100%">
        <tbody>
            <tr>
                <th><i class="require-red"></i>头像：</th>
                <td>
                    <input type="hidden" name="CouponId" data-bind="value:CouponId" />
                    <img data-bind="attr:{src:HeadImgUrl}" width="120" />
                </td>
            </tr>
            <tr>
                <th><i class="require-red"></i>openid：</th>
                <td data-bind="text:OpenId"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>昵称：</th>
                <td data-bind="text:NickName"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>手机号：</th>
                <td data-bind="text:Mobile"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>优惠金额：</th>
                <td data-bind="text:Amount"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>优惠条件：</th>
                <td data-bind="text:(Consum==0?'不限':Consum)"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>优惠来源：</th>
                <td data-bind="text:Original"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>是否使用：</th>
                <td data-bind="text:IsUse==1?'是':'否'"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>订单号：</th>
                <td data-bind="text:OrderNum"></td>
            </tr>
            <tr>
                <th><i class="require-red"></i>发放时间：</th>
                <td data-bind="text:CreateDate"></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="display: none" id="adddialog">
    <table class="insert-tab" width="100%">
        <tbody>
            <tr>
                <th><i class="require-red"></i>openid：</th>
                <td>
                    <input class="common-text required" size="40" name="txtOpenId" type="text" placeholder="请输入用户openid" />
                </td>
            </tr>
            <tr>
                <th><i class="require-red"></i>优惠金额：</th>
                <td>
                    <input class="common-text required" value="" size="40" name="txtAmount" type="text" placeholder="请输入优惠金额" tvalue="" ovalue="" />
                </td>
            </tr>
            <tr>
                <th><i class="require-red"></i>优惠条件：</th>
                <td>
                    <input class="common-text required" size="40" name="txtConsum" type="text" placeholder="请输入优惠券使用条件" tvalue="" ovalue=""/>空值为条件不限
                </td>
            </tr>
            <tr>
                <th><i class="require-red"></i>优惠来源：</th>
                <td>
                    <input class="common-text required" size="40" name="txtOriginal" type="text" placeholder="请输入优惠来源" />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align :center">
                    <input type="button" class="btn btn-primary btn6 mr10" data-bind="click:btnAdd" value="  添  加  " />
                </td>
            </tr>

        </tbody>
    </table>
</div>

<script type="text/javascript">

    $(function () {

        $('input[name=txtAmount]').tvalue = $('input[name=txtAmount]').value;
        $('input[name=txtConsum]').tvalue = $('input[name=txtConsum]').value;

        $('input[name=txtAmount],input[name=txtConsum]').on('keyup keypress blur', function () {
            if (!this.value.match(/^[\+\-]?\d*?\.?\d*?$/)) {
                this.value = this.tvalue;
            }
            else {
                this.tvalue = this.value;
            }
            if (this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))
                this.ovalue = this.value;
        });


        //select model
        var select_model = function (dm, mc) {
            this.dm = dm;
            this.mc = mc;
        }

        var model = function () {

            var m = this;
            m.size = 10;

            //分页
            m.array = ko.observable();
            m.total = ko.observable(0);
            m.page_current = ko.observable(0);
            m.page_total = ko.observable(0);

            //search
            m.search_nickName = ko.observable("");
            m.search_mobile = ko.observable("");
            m.search_openid = ko.observable("");

            //详情
            m.CouponId = ko.observable("");
            m.OpenId = ko.observable("");
            m.NickName = ko.observable("");
            m.HeadImgUrl = ko.observable("");
            m.Mobile = ko.observable("");
            m.Amount = ko.observable("");
            m.Consum = ko.observable("");
            m.Original = ko.observable("");
            m.IsUse = ko.observable("");
            m.OrderNum = ko.observable("");
            m.CreateDate = ko.observable("");

            //btn查询
            m.btnSearch = function () {
                m.loadData(1);
            };

            //上一页
            m.page_pre = function () {
                var page = (m.page_current() - 1);
                if (page > 0) {
                    m.loadData(page);
                }
            };

            //下一页
            m.page_next = function () {
                var page = (m.page_current() + 1);
                var total_page = m.page_total();
                if (page <= total_page) {
                    m.loadData(page);
                }
            };

            //查看
            m.OpenDialog = function (id) {
                if (id > 0) {
                    $.ajax({
                        method: "get",
                        url: '@Url.Content("~/Coupon/Detail")',
                        data: 'id=' + id,
                        async: false,
                        dataType: 'json'
                    }).done(function (data) {
                        if (data.error == 100) {

                            m.CouponId(data.result.CouponId);
                            m.OpenId(data.result.OpenId);
                            m.NickName(data.result.NickName);
                            m.HeadImgUrl(data.result.HeadImgUrl);
                            m.Mobile(data.result.Mobile);
                            m.Amount(data.result.Amount);
                            m.Consum(data.result.Consum == 0 ? '不限' : data.result.Consum);
                            m.Original(data.result.Original);
                            m.IsUse(data.result.IsUse);
                            m.OrderNum(data.result.OrderNum);
                            m.CreateDate(getLocalTimestamp(data.result.CreateDate));

                        } else {
                            alert('系统错误！');
                        }
                    });
                }
                $("#dialog").dialog({ width: "900px" });
            };

            m.OpenAddDialog = function () {
                $("#adddialog").dialog({ width: "900px" });
            }

            //关闭
            m.CloseAddDialog = function () {
                $("#adddialog").dialog('close');
            };

            //添加按钮
            m.btnAdd = function () {

                var parm={
                    OpenId:$('input[name=txtOpenId]').val(),
                    Amount:$('input[name=txtAmount]').val(),
                    Consum:$('input[name=txtConsum]').val(),
                    Original:$('input[name=txtOriginal]').val()
                }
                if (parm.OpenId == "") {
                    alert('请填写openid！');
                    return;
                }
                if (parm.Amount == "") {
                    alert('请填写优惠金额！');
                    return;
                }
                $.ajax({
                    type: 'post',
                    url:'@Url.Content("~/Coupon/Add")',
                    data:parm,
                    success:function(data){
                        if(data.error == 100){
                            alert('添加成功！');
                            m.CloseAddDialog();
                            m.loadData(1);
                        }else{
                            alert(data.msg);
                        }
                    }
                })
            };

            //关闭
            m.CloseDialog = function () {
                $("#dialog").dialog('close');
            };

            //加载表单数据
            m.loadData = function (page) {
                var url = "@Url.Content("~/coupon/ListNew?page=")" + page + "&nickName=" + m.search_nickName() + "&mobile=" + m.search_mobile() + "&openid=" + m.search_openid();
                $.ajax({
                    method: "get",
                    url: url,
                    async: false,
                    dataType: 'json'
                }).done(function (data) {
                    if (data.error == 100) {
                        m.total(data.total);
                        m.page_total(Math.ceil(data.total / m.size));
                        m.page_current(page);
                        m.array(data.result);
                    } else {
                        alert("Get Data Error");
                    }

                });
            };
        };

        //初始化数据
        var obj = new model();
        obj.loadData(1);
        ko.applyBindings(obj);

    });

</script>



@*<link href="~/Scripts/dialog/dialog.css" rel="stylesheet" />
<script src="~/Scripts/dialog/dialog.js"></script>
<div class="rrcc" id="RightBox">
    <div class="center"></div>
    <div class="right" id="li010">
        <div class="right01">
            <img src="~/Content/images/04.gif" alt="" />
            后台管理 &gt;
            <span>优惠券管理</span>
        </div>
        <div>
            <input type="text" id="txt_search" placeholder="请输入昵称或openid" style="width:240px" />
            <input type="button" class="btnRecord" value="查询" />
            <input type="button" class="btnRecord" value="添加"/>
        </div>
        <div id="example" class="k-content" style="padding: 2px;">
            <div id="grid">
                <script type="text/javascript">
                    var i = 1;
                    var sum = "@ViewData["page"]";
                    var url = "@Url.Content("~/coupon/ListNew/")"
                    $(function () {
                        $('#page_count')[0].innerText = "@ViewData["page"]";
                    })
                    $(document).ready(function () {
                        $("#grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: url,
                                },
                                schema: {
                                    model: {
                                        fields: {
                                            Id: { type: "int" },
                                            NickName: { type: "string" },
                                            OpenId: { type: "string" },
                                            Amount: { type: "string" },
                                            ConsumVal: { type: "string" },
                                            IsUseVal: { type: "string" },
                                            Original: { type: "string" },
                                            OrderId: { type: "string" }
                                        }
                                    }
                                }
                            },

                            height: 600,
                            filterable: true,
                            sortable: true,
                            resizable: true,
                            columns: [{
                                field: "Id",
                                filterable: false,
                                hidden: true
                            },
                                {
                                    field: "NickName",
                                    filterable: false,
                                    title: "微信用户"
                                },
                                {
                                    field: "OpenId",
                                    filterable: false,
                                    title: "用户OpenId"
                                },
                                {
                                    field: "Amount",
                                    filterable: false,
                                    title: "金额"
                                },
                                {
                                    field: "ConsumVal",
                                    filterable: false,
                                    title: "满减条件"
                                },
                                {
                                    field: "IsUseVal",
                                    filterable: false,
                                    title: "是否使用"
                                },
                                {
                                    field: "Original",
                                    filterable: false,
                                    title: "活动来源 "
                                },
                                {
                                    field: "OrderId",
                                    filterable: false,
                                    title: "订单号"
                                },
                                {
                                    command: [{
                                        name: "详情", click: function (e) {
                                            var tr = $(e.target).closest("tr");
                                            var data = this.dataItem(tr);
                                        }
                                    }, {
                                        name: "取消", click: function (e) {
                                            var tr = $(e.target).closest("tr");
                                            var data = this.dataItem(tr);
                                        }
                                    }, {
                                        name: "添加", click: function (e) {
                                            var tr = $(e.target).closest("tr");
                                            var data = this.dataItem(tr);
                                            var openid = data.OpenId;
                                            $.ajax({
                                                type: 'get',
                                                data: {
                                                    openid: openid
                                                },
                                                url: '@Url.Content("~/coupon/GetUserInfo")',
                                                success: function (data) {
                                                    $('#user_nickname')[0].innerText = data.NickName;
                                                    //$('#user_gender')[0].innerText = data.Gender;
                                                    $('#user_openid')[0].innerText = data.OpenId;
                                                    $('#btn_dialog').css('display', 'none');
                                                    $('#list_dialog').css('display', 'table-row');
                                                    $('#dialog').css('display', 'block');
                                                    //$('#dialog').show();
                                                }
                                            });
                                        }
                                    }
                                    ]
                                }
                            ]
                        });
                        var txt_search = $('#txt_search').val();
                        console.log(txt_search);
                        $(".btnRecord").kendoButton().click(function () {
                            var txt_search = $('#txt_search').val();
                            if ($(this).val() == "下页") {
                                i++;
                                if (i > sum) {
                                    return;
                                }
                                $.getJSON(url, { page: i, search: txt_search }, function (data1) {
                                    var dataSource = new kendo.data.DataSource({
                                        data: data1
                                    });
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.setDataSource(dataSource);
                                });
                            } else if ($(this).val() == "上页") {
                                var txt_search = $('#txt_search').val();
                                if (i > 0) {
                                    i--;
                                } else {
                                    return;
                                }
                                $.getJSON(url, { page: i, search: txt_search }, function (data1) {
                                    var dataSource = new kendo.data.DataSource({
                                        data: data1
                                    });
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.setDataSource(dataSource);
                                });
                            } else if ($(this).val() == "首页") {
                                var txt_search = $('#txt_search').val();
                                i = 1;
                                $.getJSON(url, { page: i, search: txt_search }, function (data1) {
                                    var dataSource = new kendo.data.DataSource({
                                        data: data1
                                    });
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.setDataSource(dataSource);
                                });
                            } else if ($(this).val() == "尾页") {
                                var txt_search = $('#txt_search').val();
                                i = sum;
                                $.getJSON(url, { page: i, search: txt_search }, function (data1) {
                                    var dataSource = new kendo.data.DataSource({
                                        data: data1
                                    });
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.setDataSource(dataSource);
                                });
                            } else if ($(this).val() == "跳转") {
                                var txt_search = $('#txt_search').val();
                                var j = $.trim($("#textPage").val());
                                if (j.length <= 0 && parseInt(j) == "NaN") {
                                    return;
                                }
                                i = j;
                                $.getJSON(url, { page: i, search: txt_search }, function (data1) {
                                    var dataSource = new kendo.data.DataSource({
                                        data: data1
                                    });
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.setDataSource(dataSource);
                                });
                            } else if ($(this).val() == "查询") {
                                var txt_search = $('#txt_search').val();
                                $.getJSON(url, { page: 1, search: txt_search }, function (data1) {
                                    var dataSource = new kendo.data.DataSource({
                                        data: data1
                                    });
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.setDataSource(dataSource);
                                });
                                $.getJSON('@Url.Content("~/coupon/GetUserCouponListPage")', { search: txt_search }, function (data1) {
                                    sum = data1;
                                    $('#page_count')[0].innerText = sum;
                                });
                            } else if ($(this).val() == "添加") {
                                $('#list_dialog').css('display', 'none');
                                $('#btn_dialog').css('display', 'table-row');
                                $('#dialog').css('display', 'block');
                            }
                        });
                        $('#btn_submit').click(function () {
                            var ds = $('#list_dialog').css('display');
                            console.log(ds);
                            var openid=""
                            if (ds == 'table-row') {
                                openid = $('#user_openid').text();
                            }
                            else {
                                openid = $('#txt_uOpenId').val();
                            }
                            var para = {
                                OpenId: openid,
                                Amount: $('#Amount').val(),
                                ConsumVal: $('#ConsumVal').val(),
                                Original: $('#Original').val()
                            };
                            if (para.Amount.trim() == "" || para.OpenId.trim() == "") {
                                alert("信息有误！");
                            }
                            else {
                                $.ajax({
                                    data: para,
                                    type: 'post',
                                    url: '@Url.Content("~/coupon/AddUserCoupon")',
                                    success: function (data) {
                                        if (data==0) {
                                            $('#dialog').css('display', 'none');
                                            var pageIndex = $('#page_count').text();
                                            var txt_search = $('#txt_search').val();
                                            $.getJSON(url, { page: pageIndex, search: txt_search }, function (data1) {
                                                alert("添加成功！");
                                                var dataSource = new kendo.data.DataSource({
                                                    data: data1
                                                });
                                                var grid = $("#grid").data("kendoGrid");
                                                grid.setDataSource(dataSource);
                                            });
                                        }
                                        else if (data == 2) {
                                            alert("无此用户！请确认OpenId是否正确。");
                                        }
                                        else {
                                            alert("系统错误");
                                        }
                                    }
                                });
                            }
                        });

                    });

                </script>
            </div>
        </div>

        <div id="dialog" hidden="hidden" class="dialog">
            <div class="title"><span id="close">&times;</span></div>
            <div class="content" style="background-color: #e9e5e5">
                <table class="dialog_tb" border="1" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr id="list_dialog">
                            <th>昵称</th>
                            <td><label id="user_nickname"></label></td>
                            <th>OpenId</th>
                            <td><label id="user_openid"></label></td>
                        </tr>
                        <tr id="btn_dialog" style="display:none table-row">
                            <th>用户OpenId</th>
                            <td colspan="3"><input type="text" style="width:50%" placeholder="请输入用户openid" id="txt_uOpenId" /></td>
                        </tr>
                        <tr>
                            <th>金额</th>
                            <td><input type="text" id="Amount" placeholder="请输入优惠券金额" onkeypress="return (/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/.test(String.fromCharCode(event.keyCode)))" /><span style="color:red">*</span></td>
                            <th>满减条件</th>
                            <td><input type="text" id="ConsumVal" placeholder="请输入优惠券使用条件" onkeypress="return (/^\d+(\.\d+)?$/.test(String.fromCharCode(event.keyCode)))" /></td>
                        </tr>
                        <tr>
                            <th>优惠券来源</th>
                            <td colspan="3">
                                <textarea id="Original" style="max-width:98%;width:97%;height:200px"></textarea>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4"><input type="button" id="btn_submit" class="btn btn_submit" value="提交" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div style="padding: 2px">
            <input type="button" value="首页" class="btnRecord" />
            <input type="button" value="上页" class="btnRecord" />
            <input type="button" value="下页" class="btnRecord" />
            <input type="button" value="尾页" class="btnRecord" />
            <span>共 <label id="page_count"></label>页</span>
            <span>跳转<input type="text" value="" width="20px" id="textPage"> 页<input type="button" value="跳转" class="btnRecord" /></span>
        </div>
    </div>
</div>*@